---
import BaseHead from '../../components/BaseHead.astro';
import {Header} from '../../components/header.tsx';
import {Footer} from '../../components/footer.tsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	</head>
	<body class="dark">
		<Header siteTitle={SITE_TITLE} />
			<main class="container mx-auto px-4 py-12 max-w-2xl min-h-screen bg-background">
				<div class="m-8">
					<div class="text-xl">
						<h1 class="text-3xl font-bold pb-4">Blogs</h1>
						<hr />
					</div>
				</div>
				<section class="space-y-6">
					{
					posts.map((post) => (
						<a
						href={`/blog/${post.id}/`}
						class="block rounded-lg p-5 bg-card hover:shadow-md transition duration-200 border border-border hover:border-accent"
						>
						<h3 class="text-xl font-semibold flex items-center gap-2">
							{post.data.title}
						</h3>
						<p class="text-sm text-muted-foreground flex items-center gap-1 mt-1">
							📅 <FormattedDate date={post.data.pubDate} />
						</p>
						</a>
					))
					}
				</section>
			</main>
		<Footer />
	</body>
</html>
